/* Hide elements
================================================== */

.hidden {
	display: none;
	visibility: hidden; }

.visible-phone {
	display: none !important; }

.visible-tablet {
	display: none !important; }

.visible-desktop {
	display: none !important; }

/* @font-face
================================================== */

@font-face {
	font-family: 'dax-regular';
	src: url('fonts/dax-regular-webfont.eot');
	src: url('fonts/dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dax-regular-webfont.woff') format('woff'),
		 url('fonts/dax-regular-webfont.ttf') format('truetype'),
		 url('fonts/dax-regular-webfont.svg#dax-regular') format('svg');
	font-weight: normal;
    font-style: normal; }

@font-face {
	font-family: 'dax-medium';
	src: url('fonts/dax-medium-webfont.eot');
	src: url('fonts/dax-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dax-medium-webfont.woff') format('woff'),
		 url('fonts/dax-medium-webfont.ttf') format('truetype'),
		 url('fonts/dax-medium-webfont.svg#dax-medium') format('svg');
	font-weight: normal;
    font-style: normal; }

/* Type
================================================== */

body, .aside p { 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: lighter; }

h2, h3, h4, h5, h6, .header, input, .sub-nav, .find-out-how, .footer, .box a, ul.tabs, .panes, .flex-caption h1, span.anchor a,
.clinic-search-results, .health-workers .accordion, .box.yellow, .media-and-events ul.pagination li, .counter, .button, .aside .address-details p,
.media-and-events .col .article-details, .media-and-events .aside .box.purple p, .media-and-events-where-are-they .content h3, 
.location-statistics, .upcoming-schedule, input[type=submit], input[type=text], textarea, .contact-us .box.blue label span, .jobs p.position, 
.login .box.blue, .home .home-story .col.col_2, .login label span { 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal; }

h1, .anchor h2, .aside h3, .aside .clinic-search fieldset p, .clinic-search fieldset input[type=submit], .clinic-search-results h3, 
.health-workers .accordion-trigger, .action-link, .media-and-events .rss-subscribe, .counter span.count, 
.header .site-navigation .mobile-trigger.sub-nav-trigger, .aside .address-details p strong, .date, .newsletter-signup label, .current-location p, 
.location-statistics span, .upcoming-schedule span.left, .health-workers .box.yellow h4, .health-workers .box.blue h3, 
.health-workers .box.blue .action-link, .health-workers .content .col_2 h3, .contact-us .box.blue label, .login .aside h2, 
.media-and-events .content blockquote, .login label, .what-happens h2, .health-workers .content h2 { 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal; }

.hide-text, .header .site-search input[type=submit], .facebook, ul.accesibility-controls li, 
.find-out-how ol li span.step, ol.flex-control-paging, .flex-pauseplay a, .media-and-events .social-sharing a { 
	font-size: 0;
	border: 0 none;
	color: transparent;
	text-indent: -10000em; }

.header .header-cta .phone-number span { 
	font-size: 0.48em; }

.header .site-search input, p.disclaimer { 
	font-size: 0.750em; }

.find-out-how li, .contact-us .box.blue label { 
	font-size: 0.813em; }

.header .site-navigation, .footer .meta, .box p, span.anchor a, .aside p, label,
.media-and-events .rss-subscribe, .in-media p, .upcoming-events p, .newsletter-signup input, .upcoming-events .action-link, 
.media-and-events-where-are-they .content p, .media-and-events a.load-more, input[type=submit], input[type=text], 
textarea, .clinic-search-results .button, .contact-us .box.blue label, .contact-us .box.blue label span, .jobs p.position, 
.how-to-apply p, .who-to-contact p, .login .password a, .login .account, .resources li, .panes, .where-are-they p, .where-are-they .action-link,
.flex-caption p, .footer .meta-links ul#translations li.greek a { 
	font-size: 0.875em; }
	
.header .header-cta .button, .footer .meta-links, ul.tabs li a { 
	font-size: 0.9375em; }

.clinic-search-results h3, .content .action-link, .box.purple h6, .where-are-they .col h3, .clinic-search-results .action-link,
.health-workers .box.yellow h4, .resources .content h3, .counter p { 
	font-size: 1em; }

.jobs-detail .content h3, .login .aside h2 { 
	font-size: 1.063em; }

.upcoming-events p .date, .health-workers .box.blue h3, .health-workers .content .col_2 h3, .home .news-pane h3 { 
	font-size: 1.175em; }

.content h4, .aside .clinic-search h2, .counter span, .womens-stories .content h2, .content .video-listing h3, .media-and-events .col h3,
.media-and-events-where-are-they .content h3, .content .current-location p, .contact-us h2, .jobs h2, .jobs .content h3, .resources .content h2, 
.media-and-events .content h2, .media-and-events .content blockquote, .flexslider h2, .content.what-happens h3, .health-workers .content h2 { 
	font-size: 1.250em; }

.content h3 { 
	font-size: 1.500em; }

.header .header-cta .phone-number, .where-are-they .col h3 span, .media-and-events-where-are-they .content .location-statistics li p span {
	font-size: 1.563em; }

.anchor h2 {
	font-size: 1.875em; }

h1 {
	font-size: 1.875em; }

.flex-caption h1 { 
	font-size: 3.125em;
	letter-spacing: -.05em; }

.header .header-cta .phone-number { 
	line-height: .7em; }

span.anchor h2, .flex-caption h1, .flex-caption h2 { 
	line-height: 1em; }

.content h3, .womens-stories .content h2, .health-workers .feedback-form label{ 
	line-height: 1.35em; }

.content, .media-and-events .content blockquote { 
	line-height: 1.375em; }

.content .video-listing p, .resources .content h2, .panes { 
	line-height: 1.429em; }

.content h2, .content h3 { 
	font-weight: normal; 
}

.content h2.larger {
    font-size: 1.429em;
    line-height: 1.35em;
}


.content p a, .content li a, .login .box.blue .row a { 
	text-decoration: underline; }

a, .content p a:hover, .content .box a, ul.tabs a, .panes a, .media-and-events ul.pagination li a, .login .box.blue .row a:hover, 
.resources .content ul li a, .panes ol a { 
	text-decoration: none; }

.video-listing h3, .aside .clinic-search fieldset p, .clinic-search-results h3, .health-workers .accordion-trigger, .box.purple h6, .aside h4, 
.media-and-events .rss-subscribe, .media-and-events-listing h3, .date, .current-location p, .location-statistics span, .upcoming-schedule span.left,
.health-workers .box.blue h3, .health-workers .box.blue h5, .contact-us .box.blue label, .jobs h3, .jobs-detail .content h3, .login .box.blue .row span, 
.login .account, .resources .content h3, .home .news-pane h3, .login label { 
	text-transform: uppercase; }

.clinic-search-results .accordion-trigger { 
	text-transform: lowercase; }

 .contact-us .box.blue label span { 
	text-transform: none; }

/* Colours
================================================== */

.header .header-cta .button, .find-out-how .button, .footer .meta-links ul > li a, .footer .meta-links div.map, .clinic-search-results a.selected, 
.clinic-search-results .button, .purple, .box.purple .action-link, .header .site-navigation .mobile-trigger.sub-nav-trigger.active, input[type=submit] { 
	color: #FFF; }

body, input, textarea, .header .site-navigation a, .aside .sub-nav li a, .footer .meta a, .content .box a, ul.tabs a, .content .panes a, span.anchor a,
.clinic-search-results .accordion-trigger, .health-workers .accordion-trigger, .action-link, .content .box.yellow a:hover, .media-and-events ul.pagination li a,
.womens-stories .content h2, .clinic-search-results .action-link, .media-and-events .col h3 a:hover, 
.media-and-events .col .article-details span, .media a:hover, .media-and-events-where-are-they .content h3, .media-and-events a.load-more,
.content h4 a:hover, .contact-us .content h2, .jobs .content h2, .jobs p.position, .jobs-detail .content h2, .resources .content h2, .resources .content h3,
.resources .content ul li a, .media-and-events .content h2, .content .content-nav .panes a, .content.what-happens h3, .health-workers .content h2, .jobs-detail .content h3 { 
	color: #675C53; }

h1, .content h2, .content p a, .content h4 a, .content li a, .pink, .header .site-navigation a:hover, .header .site-navigation li.highlighted a, .aside .sub-nav li a:hover, 
.aside .sub-nav li.highlighted a, .footer .meta a:hover, .video-listing h3, .content .box a:hover, .panes a:hover, ul.tabs li a.current, span.anchor a:hover,
.content h3, .aside .clinic-search fieldset p, .clinic-search-results .accordion-trigger:hover, .clinic-search-results a, .action-link:hover, .box.yellow a, 
.media-and-events ul.single-post li a:hover, .media-and-events ul.pagination li.highlighted a, .counter span.count, .header .site-navigation .mobile-trigger.sub-nav-trigger,
.clinic-search-results .action-link:hover, .media-and-events .col h3 a, .media-and-events .col .article-details, .media a, 
.current-location span, .upcoming-schedule span.left, .media-and-events a.load-more:hover, .health-workers .box.blue h5, .jobs p.position span, .login .box.blue .row a,
.resources .content ul li a:hover, .home .news-pane h3, .home .news-pane p.credits span, .home .where-are-they h4, .media-and-events .content h2 span, 
.media-and-events .content blockquote, .content .panes ol a:hover, .jobs-detail .content h2 span { 
	color: #E0119D; }

p.disclaimer strong, .flex-caption h1 { 
	color: #52C6E2; }

.media-and-events .rss-subscribe {
	color: #E98300; }

/* Sitewide
================================================== */

img { 
	width: inherit;
	max-width: 100%;
	height: auto; }

video {
	width: 100%;
	height: auto; }

.active-video, .video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden; }

.video-wrapper { 
	margin-bottom: 22px; }

.active-video iframe, .video-wrapper iframe, .active-video object, .video-wrapper object, .active-video embed, .video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

.inner { 
	overflow: hidden; }

.innerwa { 
	overflow: hidden; }


.row { 
	float: left;
	clear: both;
	width: 100%;
	overflow: hidden; }

.col { 
	float: left;
	margin-left: 20px; }
	
.col.no-margin, .col .col.no-margin { 
	margin-left: 0 !important; }

.col.extra-margin { 
	margin-left: 30px !important; }

div.clear { 
	display: block;
	height: 1px;
	padding: 0;
	float: left;
	width: 100%; }

/* Header
================================================== */

.header { 
	background: url('../../images/header-bg.gif') repeat;
	padding: 20px 0; }

    .header .logo a {
        background: url('../../images/BSWA-sprite.png') no-repeat -5px -10px;
        display: block;
        width: 141px;
        height: 123px;
    }

.facebook {
    background: url('../../images/BSWA-sprite.png') no-repeat -150px -10px;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

	.header .site-search input[type=text] {
		background: #FFF; 
		width: 200px;
		height: 20px;
		padding: 5px; }
		
	.header .site-search input[type=submit] {
		background: #FFF url('../../images/search-bg.png') no-repeat center center;
		width: 30px;
		height: 30px;
		display: inline-block;
		border: 0 none; }

	.header .site-search, .header .site-navigation { 
		 float: right;
		display: inline; }
		
	.header .logo, .header .header-cta, .header .site-search a, .header .site-search input, .header-cta a.book-now, .header-cta div.phone-number { 
		 float: left;
		display: inline; }
	
	.header-cta { 
		 margin-left: 64px; }

	.header .header-cta .button {
		background: #95D04B;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		display: block; 
		padding: 6px 25px; }
	
	.header .header-cta .phone-number { 
		margin: 0 0 0 20px; }

	.header .header-cta .phone-number span { 
		display: block; }

	.header .site-navigation { 
		max-width: 780px;
		margin-top: 45px; }
	
	.header .site-navigation ul.nav, .header .site-navigation ul.sub-nav { 
		margin: 0;
		padding: 0;
		display: none; }
	
	.header .site-navigation ul.nav li { 
		float: left;
		display: inline;
		margin-right: 26px; }

	.header .site-navigation ul.nav li.last { 
		margin-right: 0; }

	/* Content
	================================================== */

	.action-link { 
		background: url('../../images/arrow-sprite.png') no-repeat 100% -467px;
		display: inline-block;
		clear: both;
		padding-right: 31px; }

	.alignleft { 
		float: left;
		margin: 3px 15px 15px 0; }

	.alignright { 
		float: right;
		margin: 3px 0 15px 15px; }

	.content li { 
		margin: .5em 0; }

	.content ul, .panes ul { 
		padding: 0; }

	.content ul li, .panes ul li { 
		background: url('../../images/BSWA-sprite.png') no-repeat -8px -1645px;
		list-style: none;
		padding-left: 30px; }

	.content ol { 
		padding: 0 0 0 22px; }

	.content ol li { 
		padding-left: 10px; }

	.box.blue { 
		background: #E5F2F6; }

	.box.yellow { 
		background: #FBFFDC;
		border: 1px solid #E1FD00;
		margin: 1.33em 0; }

	.box.purple { 
		background: #FFF url('../../images/purple-block-bg.png') repeat top left;
		margin: 0 0 15px 0;
		padding: 20px 0 5px; }

	.box.purple h6 { 
		margin: 0; }

	.box h3, .box h4, .box p  { 
		padding: 0 20px; }

	.download h6, .download p { 
		padding: 0 20px; }

	.download a { 
		background: url('../../images/BSWA-sprite.png') no-repeat -240px -77px;
		padding-left: 25px; }

	p.disclaimer { 
		background: #FFF url('../../images/vertical-dot.gif') repeat-y top left;
		width: 190px;
		padding: 0 20px 4px;
		margin: .5em 0 20px 20px;
		float: right; }

	/* Aside 
	================================================== */

	ul.accesibility-controls { 
		list-style: none;
		margin: 30px 0;
		padding: 0;
		overflow: hidden; }

	ul.accesibility-controls li { 
		padding: 0;
		display: inline; }

	ul.accesibility-controls li a { 
		float: left;
		display: block;
		margin-right: 10px;
		width: 30px;
		height: 31px; }

	ul.accesibility-controls li.increase-text a { 
		background: #FFF url('../../images/BSWA-sprite.png') no-repeat -10px -410px; }

	ul.accesibility-controls li.decrease-text a { 
		background: #FFF url('../../images/BSWA-sprite.png') no-repeat -50px -410px; }

	ul.accesibility-controls li.print-page a { 
		background: #FFF url('../../images/BSWA-sprite.png') no-repeat -90px -410px; }

	.aside .accordion-trigger { 
		display: block; }

	.aside .block { 
		margin: 1em 0 2em; }

	.aside h3 { 
		font-weight: normal;
		margin: .25em 0;
		padding: 0; }

	.aside h4 { 
		margin: .5em 0; }

	.find-out-how p { 
		margin: .25em 0 1.5em; }

	.find-out-how ol { 
		background: #FFF url('../../images/vertical-dot.gif') repeat-y 30px 4px;
		list-style: none;
		margin: 0;
		padding: 0; }

	.find-out-how ol li { 
		min-height: 85px;
		padding: 5px 0 0 0; }

	.find-out-how ol li span.step { 
		width: 62px;
		height: 61px;
		display: block;
		float: left;
		margin: -5px 10px 30px 0; }

	.find-out-how ol li strong { 
		display: block; }

	.find-out-how ol li.step-one span.step { 
		background: url('../../images/BSWA-sprite.png') no-repeat -10px -450px; }

	.find-out-how ol li.step-two span.step { 
		background: url('../../images/BSWA-sprite.png') no-repeat -80px -450px; }

	.find-out-how ol li.step-three span.step { 
		background: url('../../images/BSWA-sprite.png') no-repeat -150px -450px; }

	.find-out-how ol li.step-three { 
		background: #FFF; }
		
	.find-out-how .button { 
		background: #95d04b url('../../images/arrow-sprite.png') no-repeat 97% -342px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		display: block; 
		padding: 12px 5%;
		width: 90%; }

	.aside .newsletter-signup h3, .aside .newsletter-signup p { 
		margin: 0 0 1em;
		padding-bottom: 0; }

		/* Home
		================================================== */

		ol.flex-control-paging { 
			overflow: hidden;
			padding: 0;
			float: left;
			min-width: 70px; }

		ol.flex-control-paging li a { 
			background: url('../../images/BSWA-sprite.png') no-repeat -10px -890px;
			width: 10px;
			height: 10px;
			display: block;
			cursor: pointer;
			float: left; 
			margin-right: 10px; }

		ol.flex-control-paging li a.flex-active { 
			background: url('../../images/BSWA-sprite.png') no-repeat -10px -900px; }

		.flex-pauseplay { 
			width: 10px;
			float: left; }

		.flex-pauseplay a { 
			background: url('../../images/BSWA-sprite.png') no-repeat -10px -910px;
			width: 10px;
			height: 10px;
			display: block;
			cursor: pointer; }

		.flex-pauseplay a.flex-pause { 
			background: url('../../images/BSWA-sprite.png') no-repeat -10px -920px; }

		.home .home-story img { 
			position: relative;
			display: block; }

		.home .where-are-they { 
			background: #E5F2F6;
			margin-top: 47px;
			padding-bottom: 20px; }

		.home .where-are-they h3 { 
			margin: 0 0 .5em; }

		.home .where-are-they h2 { 
			margin-bottom: .2em; }

		.home .where-are-they h4 { 
			margin-top: .2em; }

		.counter { 
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background: #DAE5E8; 
			margin: 0;
			text-align: center; }

		.counter p { 
			padding: 15px 4px 10px 3px; }

		.counter span.count { 
			display: block;
			margin-bottom: 18px; }

		.counter span.count span { 
			-webkit-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid #c3d0d3;
			background: #FFF;
			padding: 10px 16px;
			margin: 0 2px;
			-webkit-box-shadow: inset 0px -14px 15px -8px #e3e3e3;
			box-shadow: inset 0px -14px 15px -8px #e3e3e3; }

		.counter.three span.count span { 
			padding: 10px 24px; }

		/* Women's Stories
		================================================== */
		
		.womens-stories .aside h3 { 
			padding: 0; }
		
		.active-video { 
			margin-bottom: 1.33em; }

		.content .video-listing h3 { 
			margin: .6em 0 .5em; }

		.content .video-listing p { 
			margin: .5em 0 1em 0; }

		.video-listing .col { 
			margin-bottom: 20px;
			min-height: 400px;
			position: relative;
			display: block; }

		.video-listing .col a span { 
			background: url('../../images/BSWA-sprite.png') no-repeat -9px -775px;
			width: 60px;
			height: 60px;
			display: block;
			margin: -30px 0 0 -30px;
			position: absolute;
			top: 25%;
			left: 50%;
			opacity: .8;
			filter: alpha(opacity=80); }

		.video-listing .col a:hover span { 
			opacity: 1;
			filter: alpha(opacity=100); }

		.video-listing .col .watch-video { 
			background: url('../../images/BSWA-sprite.png') no-repeat -241px -8px;
			padding-left: 30px;
			position: absolute;
			bottom: 20px; }

		.womens-stories .content h2.active { 
			display: none; }

		.video-listing .col.active h3 { 
			background: #E5F2F6 url('../../images/BSWA-sprite.png') no-repeat 220px -700px;
			padding-right: 120px; }

		/* The Facts/FAQ
		================================================== */

		.content-nav { 
			margin-bottom: 30px; }

		.content-nav h4 { 
			background: url('../../images/horizontal-dot.gif') repeat-x bottom left;
			display: block;
			padding: 0 0 15px 0;
			margin: 15px 20px 0 20px; }

		.content-nav div.listContainer1 { 
			padding: 0 20px; }

		.content-nav div ul { 
			width: 50%;
			float: left; }

		.content-nav ul li { 
			display: block;
			width: 100%;
			padding-left: 20px; }

		span.anchor { 
			background: url('../images/horizontal-dot-pink.gif') repeat-x bottom left;
			display: block;
			overflow: hidden;
			clear: both; }

		span.anchor h2, span.anchor a { 
			float: left; }

		span.anchor h2 { 
			margin: .7em 0;
			width: 80%; }

		span.anchor a { 
			background: url('../images/arrow-sprite.png') no-repeat 0 -406px;
			float: right;
			padding-left: 20px;
			margin: 22px 0 0 0; }

		/* Clinic Search
		================================================== */

		.clinic-search fieldset input[type=text], .clinic-search fieldset select { 
			float: left;
			clear: left; }

		.clinic-search fieldset input[type=text] { 
			padding: 5px;
			width: 178px; }

		.clinic-search fieldset select { 
			margin: 10px 0 0 1px;
			width: 189px; }

		.clinic-search fieldset input[type=submit] {
			background: #675C53; 
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: block; 
			padding: 6px 30px;
			float: right;
			margin: -28px 0 0 0;
			width: 120px; }

		.clinic-search-results .accordion-trigger { 
			background: url('../images/BSWA-sprite.png') no-repeat -241px -51px;
			padding-left: 20px;
			margin-top: 5px; }

		.clinic-search-results .accordion span { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			display: block;
			padding: 10px 0 20px;
			overflow: hidden; }

		.clinic-search-results .accordion-trigger.selected { 
			display: none; }

		.clinic-search-results .accordion h3 { 
			padding: 0 0 5px 0; }

		.address-details p { 
			margin: 1em 0 0; }

		.clinic-search-results .button { 
			background: #95d04b;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: inline-block; 
			padding: 8px 30px;
			margin-top: -35px;
			float: right; }

		.action-link.search-again { 
			background: url('../images/arrow-sprite.png') no-repeat 0 -519px;
			padding: 0 0 0 15px; }

		/* Health Workers
		================================================== */

		.health-workers .col .col.col_2 { 
			margin-left: 40px; }

		.health-workers .box.yellow { 
			padding: 0 0 20px; }

		.health-workers .box.yellow p { 
			margin: 0; }

		.health-workers .box.yellow h4 { 
			margin: 1em 0 .5em; }

		.health-workers .box.blue { 
			padding-bottom: 1px; }

		.health-workers .box.blue h3 { 
			margin: 0 0 .5em 0; }

		.health-workers .box.blue h5 { 
			margin: .5em 0 0 20px; }

		.health-workers .box.blue .action-link { 
			background-position: 100% -464px; }

		.health-workers .feedback-form .box.blue { 
			padding: 20px; }

		.health-workers .feedback-form .box.blue input, .health-workers .feedback-form .box.blue select, .health-workers .feedback-form .box.blue textarea { 
			margin: .7em 0; }

		.health-workers .feedback-form input[type=submit] { 
			background: #95d04b;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: inline-block; 
			padding: 8px 30px;
			width: 100%; }

		.health-workers .feedback-form .box.blue textarea { 
			height: 100px; }

		.health-workers .aside h3 {
			padding-bottom: 16px; }

		.health-workers .accordion h3 { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			margin: .25em 0 0; }

		.health-workers .accordion span { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			display: block;
			padding: 15px 0;
			overflow: hidden;  }

		.health-workers .accordion-trigger { 
			background: url('../images/BSWA-sprite.png') no-repeat -240px -113px;
			padding-left: 25px; }

		.health-workers .accordion p { 
			margin: 1em 0 0; }

		.health-workers .useful-links h3 { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x top left;
			padding-top: .9em; }

		.health-workers .useful-links p:last-child { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			padding-bottom: 1.33em; }

		/* Media & Events
		================================================== */

		.media-and-events .content { 
			position: relative; }

		.media-and-events .rss-subscribe { 
			background: #FFF url('../images/BSWA-sprite.png') no-repeat -125px -420px;
			padding-right: 35px;
			position: absolute;
			top: 20px;
			right: 0; }

		.media-and-events .social-sharing { 
			overflow: hidden;
			margin-bottom: 1em; }

		.media-and-events .social-sharing a { 
			display: block;
			float: left;
			margin-right: 10px; }

		.media-and-events .social-sharing a.pintrest-share { 
			background: #FFF url('../images/BSWA-sprite.png') no-repeat -8px -586px;
			width: 49px;
			height: 25px; }

		.media-and-events .social-sharing a.facebook-share { 
			background: #FFF url('../images/BSWA-sprite.png') no-repeat -8px -616px;
			width: 49px;
			height: 20px;
			margin-top: 2px; }

		.media-and-events .col h3 { 
			margin: .5em 0; }

		.media-and-events .col p { 
			margin: .5em 0 1em 0; }

		.media-and-events .content blockquote { 
			background: url('../images/horizontal-dot-pink.gif') repeat-x top left,
						url('../images/blockquote-bg.png') no-repeat bottom left;
			width: 280px;
			margin: 3px 0 30px 30px;
			float: right;
			padding: 30px 30px 49px; }

		.media-and-events-listing .col { 
			margin-bottom: 20px;
			height: 400px; }

		.media-and-events ul.pagination { 
			width: 67.8%;
			overflow: hidden;
			padding: 0;
			margin: 0 0 0 18%; }

		.media-and-events.single-post ul.pagination { 
			width: 100%;
			margin: 0; }

		.media-and-events ul.pagination li { 
			float: left;
			background: none;
			padding-left: 15px; }

		.media-and-events ul.pagination li a, .media-and-events a.load-more { 
			list-style: none;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background: #F1EEEA;
			padding: 5px 15px;
			display: block;
			text-align: center; }

		.media-and-events ul.pagination li.previous { 
			float: left;
			padding-left: 0; }

		.media-and-events ul.pagination li.next { 
			float: right; }

		.media-and-events .aside ul { 
			margin: 0;
			padding: 0;
			list-style: none; }

		.media-and-events ul.accesibility-controls { 
			margin: 30px 0; }

		.media-and-events .upcoming-events ul li, .media-and-events .in-media ul li { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			display: block;
			padding-bottom: 4px; }

		.media-and-events .aside .icon { 
			padding: 0 0 2px 25px;
			display: block;
			margin-top: 16px; }

		.media-and-events .aside .date { 
			background: url('../images/BSWA-sprite.png') no-repeat -13px -348px; }

		.media-and-events .aside .media { 
			background: url('../images/BSWA-sprite.png') no-repeat -10px -377px;
			padding-left: 30px; }

		.media-and-events .upcoming-events .action-link, .media-and-events .in-media .action-link { 
			margin-top: 16px; }

		.news-archive select { 
			margin-left: 2px;
			width: 100%; }

		.newsletter-signup input[type=text] { 
			width: 95%;
			margin: 10px 0;
			padding: 2%; }

		.newsletter-signup input[type=submit] { 
			background: #95d04b;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: inline-block; 
			padding: 8px 30px;
			width: 100%; }

		.media-and-events .aside .box.purple { 
			padding: 0 0 10px; }

		.media-and-events .aside .box.purple h3 { 
			padding: 10px 20px; }

		.media-and-events .aside .box.purple .action-link { 
			background: url('../images/arrow-sprite.png') no-repeat 100% -587px; }

		/* Media & Events - Where are they?
		================================================== */

		.media-and-events-where-are-they .content h3 { 
			margin: 1em 0 0; }

		.media-and-events-where-are-they .content ul { 
			margin: 0;
			padding: 0;
			overflow: hidden; }

		.media-and-events-where-are-they .content ul li { 
			background: none;
			padding: 0;
			overflow: hidden; }

		.media-and-events-where-are-they .content .current-location p { 
			margin: .5em 0 0; }

		.media-and-events-where-are-they .content .location-statistics li { 
			margin: .75em 0; }

		.media-and-events-where-are-they .content .location-statistics li:last-child { 
			margin: .75em 0 0; }

		.media-and-events-where-are-they .content .location-statistics li p { 
			width: 130px;
			height: 45px;
			margin: 0;
			float: left;
			clear: left; }

		.media-and-events-where-are-they .content .location-statistics li .women { 
			background: url('../images/women-repeater.png') repeat-x;
			height: 45px;
			float: left;
			display: block; }

		.media-and-events-where-are-they .content .location-statistics li .women.ten { 
			width: 210px; }

		.media-and-events-where-are-they .content .location-statistics li .women.nine { 
			width: 189px; }

		.media-and-events-where-are-they .content .location-statistics li .women.eight { 
			width: 168px; }

		.media-and-events-where-are-they .content .location-statistics li .women.seven { 
			width: 147px; }

		.media-and-events-where-are-they .content .location-statistics li .women.six { 
			width: 126px; }

		.media-and-events-where-are-they .content .location-statistics li .women.five { 
			width: 105px; }

		.media-and-events-where-are-they .content .location-statistics li .women.four { 
			width: 84px; }

		.media-and-events-where-are-they .content .location-statistics li .women.three { 
			width: 63px; }

		.media-and-events-where-are-they .content .location-statistics li .women.two { 
			width: 42px; }

		.media-and-events-where-are-they .content .location-statistics li .women.one { 
			width: 21px; }

		.media-and-events-where-are-they .content .location-statistics li p span { 
		 	display: block; }
			
		.media-and-events-where-are-they .content .upcoming-schedule ul { 
			margin: 1em 0;
			background: #FFF url('../images/horizontal-dot.gif') repeat-x top left; }

		.media-and-events-where-are-they .content .upcoming-schedule ul li { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			padding-bottom: 8px; }

		.media-and-events-where-are-they .content .upcoming-schedule span.left {
			float: left;
			width: 210px; }

		.media-and-events-where-are-they .content .upcoming-schedule span.right {
			float: left;
			width: 130px; }

		/* Contact Form
		================================================== */

		.contact-us .box.blue .col { 
			margin-left: 30px; }

		.contact-us .box.blue { 
			padding: 20px 30px; }

		.contact-us .box.blue input[type=text], .contact-us .box.blue textarea { 
			width: 298px;
			padding: 1.5%;
			margin: .25em 0 1em 0; }

		.contact-us .box.blue textarea { 
			height: 149px; }

		.contact-us .box.blue input[type=submit] { 
			background: #95d04b;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: block; 
			padding: 12px 8%;
			float: right; }

		/* Job Opportunites
		================================================== */
	
		.jobs .content ul li { 
			background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
			padding: 12px 0 8px; }

		.jobs .content h3, .jobs .content p.position { 
			margin: 0; }

		.jobs-detail .how-to-apply h3, .jobs-detail .who-to-contact h3 { 
			padding-left: 25px;
			margin: .8em 0; }

		.jobs-detail .how-to-apply h3 { 
			background: url('../images/BSWA-sprite.png') no-repeat -40px -887px; }

		.jobs-detail .content h2 span { 
			margin-right: 30px; }

		.jobs-detail .who-to-contact h3 { 
			background: url('../images/BSWA-sprite.png') no-repeat -40px -936px; }

		.jobs-detail .action-link {
			background: url('../images/arrow-sprite.png') no-repeat 0 -519px; 
			padding: 0 0 0 17px; }

		/* Login
		================================================== */
	
		.login .box.blue { 
			padding: 75px 135px 40px;
			margin: 30px 0 100px; }

		.login .box.blue input[type=text], .login .box.blue input[type=password] { 
			width: 93.5%;
			padding: 2% 3%;
			margin-bottom: 1.175em; }

		.login .box.blue .row { 
			margin-bottom: 35px; }

		.login .password { 
			float: right; }

		.login .account { 
			padding: 3px 0 0 0; }

		.login .box.blue input[type=submit] { 
			background: #95d04b;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			display: block; 
			padding: 8px 30px; }

		.login .aside h1 { 
			margin: 0.7em 0 0.5em; }

		/* Resources
		================================================== */
	
		.resources .content ul li { 
			background: url('../images/arrow-sprite.png') no-repeat 3px -465px;
			font-weight: normal;
			padding-left: 20px; }

		.resources .content h3 { 
			padding-left: 25px; }

		.resources .content h3.annual-reports { 
			background: url('../images/BSWA-sprite.png') no-repeat -40px -980px; }

		.resources .content h3.financial-reports { 
			background: url('../images/BSWA-sprite.png') no-repeat -37px -1030px; }

		.resources .content h3.annual-statistics { 
			background: url('../images/BSWA-sprite.png') no-repeat -37px -1087px; }

		.resources .content h3.other-documents { 
			background: url('../images/BSWA-sprite.png') no-repeat -41px -1145px; }

		/* Tabs
		================================================== */

		ul.tabs { 
			overflow: hidden;
			margin: 0;
			padding: 0; }

		ul.tabs li { 
			padding: 0;
			list-style: none;
			display: inline; }

		ul.tabs li a { 
			background: #F7F3F0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			border-bottom: 2px solid #FFF;
			float: left;
			padding: 15px 20px 13px 20px;
			margin-right: 2px; }

		ul.tabs li a.current, .panes { 
			background: #E5F2F6;
			border-bottom: 2px solid #E5F2F6; }

		.panes { 
			padding: 10px 20px; }

		.home ul.tabs li a { 
			width: 24%; }

	/* Footer
	================================================== */

	.footer { 
		padding: 20px 0 40px;
		position: relative; }

	.footer .row { 
		overflow: visible; }

	.footer ul { 
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none; }

	.footer .meta { 
		margin-left: 0; }

	.footer .meta ul li {
		background: url('../images/BSWA-sprite.png') no-repeat -8px -558px;
		float: left;
		padding: 0 5px 0 11px;
		margin-right: 5px; }

	.footer .meta ul li.first {
		background: #FFF;
		padding: 0 5px 0 0; }

	.footer .meta p { 
		margin: .25em 0; }

	.footer .meta-links { 
		float: right; }

	.footer .meta-links ul { 
		float: left;
		display: inline-block;
		margin-left: 15px; }

	.footer .meta-links ul#translations { 
		margin: 0;
		background: #675C53;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		height: 37px; }

	.footer .meta-links ul#translations li a { 
		background: none;
		padding: 10px 20px 0 45px;
		width: 85px; }

	.footer .meta-links ul#translations li.english a { 
		background: url('../images/BSWA-sprite.png') no-repeat -125px -159px; }

	.footer .meta-links ul#translations li.chinese a { 
		background: url('../images/BSWA-sprite.png') no-repeat -125px -202px;
		padding: 8px 20px 0 45px; }

	.footer .meta-links ul#translations li.arabic a { 
		background: url('../images/BSWA-sprite.png') no-repeat -125px -248px; }

	.footer .meta-links ul#translations li.croatian a { 
		background: url('../images/BSWA-sprite.png') no-repeat -125px -298px; }

	.footer .meta-links ul#translations li.greek a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px 1px; }

	.footer .meta-links ul#translations li.italian a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -39px; }

	.footer .meta-links ul#translations li.macedonian a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -88px;
		padding: 8px 20px 0 45px; }

	.footer .meta-links ul#translations li.polish a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -138px; }

	.footer .meta-links ul#translations li.russian a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -191px; }

	.footer .meta-links ul#translations li.serbian a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -253px; }

	.footer .meta-links ul#translations li.spanish a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -311px; }

	.footer .meta-links ul#translations li.turkish a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -373px; }

	.footer .meta-links ul#translations li.vietnamese a { 
		background: url('../images/BSWA-sprite.png') no-repeat -585px -440px; }

	.footer .meta-links ul > li { 
		background: #675C53;
		-webkit-border-radius: 5px;
		border-radius: 5px; }

	.footer .meta-links ul#translations li { 
		background: none;
		-webkit-border-radius: 0;
		border-radius: 0; }

	.footer .meta-links ul > li a { 
		background: url('../images/arrow-sprite.png') no-repeat 122px -40px;
		display: block; 
		padding: 10px 20px;
		width: 110px; }

	/* Forms
	================================================== */

	input[type=text], input[type=password], input[type=submit], textarea { 
		-webkit-appearance: none;
		outline: none;
		border-radius: 0;
		border: 0 none; }
	
	textarea { 
		resize: none; }

	label, input[type=text], input[type=password], input[type=submit], textarea, select { 
		display: block; }

	.main input[type=text], input[type=password],  textarea { 
		border: 1px solid #ccc6c2; }

/* Media Queries
================================================== */

@media (min-width: 768px) {

.visible-desktop {
	display: block !important; }

.header .inner, .slideshow .inner, .main .inner, .footer .inner { 
	width: 980px;
	margin: 0 auto;
	padding: 0; }

.slideshow .inner { 
	overflow: visible;
	padding-bottom: 50px; }

	.header .site-navigation ul.nav { 
		display: block !important; }

	.col_2 { 
		width: 230px; }

	.col_3 { 
		width: 320px; }

	.col_4 { 
		width: 480px; }

	.col_5 { 
		width: 620px;
		float: right; }
		
	.col_6 { 
		width: 710px;
		float: right; }

		/* Inner columns
		================================================== */
		
		.col .news-pane .col, .where-are-they .col { 
			width: 210px; }

		.col .video-listing .col, .col .media-and-events-listing .col { 
			width: 340px;
			margin-left: 30px; }

		.contact-us .col .col { 
			width: 310px; }

		.col .col.col_3 { 
			width: 340px; }

		.col .col.col_4 { 
			width: 440px; }

		.col .col.col_2 { 
			width: 230px; }
			
	/* Content
	================================================== */

	.video-listing, .media-and-events-listing { 
		margin: 16px 0 0 -30px;
		width: 740px; }

	.sub-nav { 
		background: #FFF url('../images/horizontal-dot.gif') repeat-x top left;
		list-style: none;
		margin: 0 0 2.6em;
		padding: 2px 0 0 0; }

	.sub-nav li a { 
		background: #FFF url('../images/horizontal-dot.gif') repeat-x bottom left;
		display: block;
		padding: 10px 0; }

	.main.home .inner { 
		margin-top: -15px; }

	.main.home .home-story h2, .main.home .find-out-how h2 { 
		padding-top: 15px; }

	.home .where-are-they .row { 
		padding: 0 20px 0 20px;
		overflow: visible; }

	.home .where-are-they img { 
		margin-top: -30px; }

	/* Health Workers
	================================================== */

	.download img { 
		width: 30px;
		height: auto;
		float: left;
		margin: 0 20px 10px 20px; }

	.download p { 
		display: inline-block; }

	.health-workers .feedback-form .box.blue input[type=text], .health-workers .feedback-form .box.blue textarea { 
		padding: 5px;
		width: 94%; }

	.health-workers .feedback-form .box.blue select { 
		width: 190px; }

	.health-workers .feedback-form .box.blue textarea { 
		height: 100px; }

	/* Aside 
	================================================== */

	.home .find-out-how { 
		text-align: center; }

	.home .find-out-how ol { 
		background: #FFF url('../images/horizontal-dot.gif') no-repeat 109px 30px;
		overflow: hidden; }

	.home .find-out-how ol li { 
		float: left;
		width: 90px;
		margin-left: 55px; }

	.home .find-out-how ol li span.step { 
		float: none;
		margin-left: 12px; }

	.home .find-out-how ol li span.details { 
		display: none; }

	.home .find-out-how ol li.step-three { 
		background: transparent; }

	/* Flexslider
	================================================== */

	.flex-direction-nav { 
		display: block; }

	.slideshow { 
		background: url('../images/header-bg.gif') repeat; }

	.flexslider ul { 
		padding: 0; }

	.flexslider ul li { 
		position: relative;
		list-style: none; }

	.flexslider ul li img { 
		width: 640px !important;
		float: right; }

	.flex-caption { 
		width: 320px;
		padding-right: 20px;
		float: left; }

	.flexslider ul h1 { 
		margin: 0; }

	.flex-caption h2 { 
		margin: 1em 0 0; }

	.flex-caption p { 
		margin: .25em 0 1em 0; }

	/* Target IE
	================================================== */

	*.site-search { 
		width: 280px;
		position: relative; } 

	*.site-search a, *.site-search fieldset { 
		position: absolute; } 

	*.site-search fieldset { 
		left: 35px; } 

	*.header .site-navigation { 
		width: 780px; }

}

@media (min-width: 768px) and (max-width: 979px) {

.visible-tablet {
	display: block !important; }

.hidden-tablet {
	display: none !important; }

.footer .meta, .flex-caption p {
	font-size: 0.813em; }

.footer .meta p {
	font-size: 0.923em; }

.flex-caption h2 {
	font-size: 1em; }
	
.counter span { 
	font-size: 1.125em; }

.content h1 { 
	font-size: 1.875em; }

.flex-caption h1 { 
	font-size: 2.125em; }

.header .inner, .main .inner, .slideshow .inner, .footer .inner { 
	width: 730px;
	padding: 0 19px; }

.slideshow .inner { 
	padding: 0 19px 25px; }

	.header .site-navigation { 
		max-width: 525px;
		display: block !important;
		line-height: 1.8em;  }

	.col_2 { 
		width: 230px; }

	.col_4 { 
		width: 355px; }
		
	.col_6 { 
		width: 480px;
		float: right; }

	.col_3, .col_5 { 
		width: 100%;
		margin-left: 0; }

		/* Inner columns
		================================================== */
		
		.col .news-pane .col, .where-are-they .col { 
			width: 155px;
			margin-left: 15px; }

		 .home .home-story .col.col_2 { 
			width: 165px;
			float: left; }

		.contact-us .col .col { 
			width: 100%; }

		.counter span.count span { 
			padding: 10px 11px; }

		.counter.three span.count span { 
			padding: 10px 17px; }

		.counter p { 
			padding: 15px 2px 10px 3px; }

		.col .video-listing .col, .col .media-and-events-listing .col { 
			width: 230px; }

		.col .col.col_4, .col .col.col_3, .col .col.col_2 { 
			width: 480px;
			float: right; }

		.col.col_4.meta { 
			width: 255px; }

		.col.col_4.meta-links { 
			width: 472px;
			margin-left: 0; }

		.col.col_4.meta-links ul { 
			margin-left: 11px; }

		.col.col_4.meta-links ul.translations { 
			margin-left: 0; }

		/* Content 
		================================================== */

		p.disclaimer { 
			background: #FFF;
			width: 100%;
			padding: 0;
			margin: 0 0 .75em 0;
			float: left; }

		.content ul.accesibility-controls { 
			float: left;
			width: 120px;
			margin: 20px 50px 20px 0; }

		.panes { 
			padding: 15px; }

		.box.purple h6 { 
			background: none;
			padding: 0;
			margin: 0 0 0 20px;
			height: auto; }

		.playing .video-listing .col.active h3 { 
			background: #E5F2F6 url('../images/BSWA-sprite.png') no-repeat 105px -695px;
			padding-right: 120px; }

		/* Aside 
		================================================== */

		.home .find-out-how ol { 
			background: #FFF url('../images/horizontal-dot.gif') no-repeat 82px 30px;
			overflow: hidden; }

		.home .find-out-how ol li { 
			float: left;
			width: 90px;
			margin-left: 40px; }

		.home .find-out-how ol li.step-one { 
			margin-left: 0; }

		ul.tabs li a { 
			padding: 16px 15px 14px 15px; }

		.clinic-search h2, .clinic-search fieldset { 
			width: 355px;
			float: left; }

		.clinic-search fieldset { 
			float: right; }

		.clinic-search fieldset input[type=text] { 
			padding: 5px;
			width: 208px; }

		.clinic-search fieldset select { 
			margin: 10px 0 0 1px;
			width: 219px; }

		.clinic-search-results .button { 
			margin-top: 37px; }

		.address-details p { 
			width: 230px; }

		.address-details p.contact, .address-details p.hours { 
			float: left; }

		/* Home
		================================================== */

		.main.home .inner { 
			margin-top: 0; }

		.main.home .home-story h2, .main.home .find-out-how h2 { 
			padding-top: 0; }

		.flex-direction-nav { 
			display: none; }

		.counter span.count span { 
			margin: 0 1px; }

		.home .where-are-they { 
			margin-top: 57px; }

		.home .home-story img { 
			margin-top: 30px; }

		.home .where-are-they img { 
			margin-top: 20px; }

		/* Health Workers
		================================================== */

		.download img { 
			width: auto;
			height: auto;
			float: left;
			margin: 4px 20px 10px 20px; }

		.download p { 
			display: block; }

		.health-workers .feedback-form .box.blue input[type=text], .health-workers .feedback-form .box.blue textarea { 
			padding: 5px;
			width: 97.5%; }

		.health-workers .feedback-form .box.blue select { 
			width: 100%; }

		/* Women's Stories
		================================================== */

		.video-listing .col a span { 
			background: url('../images/BSWA-sprite.png') no-repeat -83px -781px;
			width: 50px;
			height: 50px;
			margin: -25px 0 0 -25px;
			top: 17%; }

		/* Media & Events - Where are they?
		================================================== */

		.media-and-events ul.pagination { 
			width: 100%;
			margin: 0; }

		.media-and-events-where-are-they .content .location-statistics { 
			width: 190px;
			float: left; }

		.media-and-events-where-are-they .content .location-statistics li .women { 
			display: none; }

		.media-and-events-where-are-they .content .upcoming-schedule { 
			width: 290px;
			float: left; }

		.media-and-events-where-are-they .content .upcoming-schedule span.left {
			float: left;
			width: 160px; }

		/* Contact Form
		================================================== */

		.contact-us .col { 
			margin-left: 0 !important; }

		.contact-us .box.blue input[type=text], .contact-us .box.blue textarea { 
			width: 96%; }

		.contact-us .box.blue input[type=submit] { 
			float: none;
			margin-top: 1em; }

		/* Login
		================================================== */
	
		.login .box.blue { 
			padding: 75px 75px 30px;
			margin: 30px 0 70px; }

		/* Resources
		================================================== */
		
		.resources .content .col_2 { 
			width: 48%; }
		
		.resources .content .col_2.third { 
			margin: 0; }
		
		/* Footer
		================================================== */

		/* Slideshow
		================================================== */

		.flexslider ul li img { 
			width: 485px !important;
			float: right; }

		.flex-caption { 
			width: 235px;
			padding-right: 10px;
			float: left; }

		/* Target Internet Explorer
		================================================== */

		*:first-child+html .health-workers .col .col_2.col, *:first-child+html .contact-us .box.blue textarea { 
			margin-left: 0; }
			
		*:first-child+html .header-cta .phone-number { 
			position: absolute;
			top: 15px; }

}

@media only screen and (max-width: 767px) {

.visible-phone {
	display: block !important; }

/* Colours
================================================== */

.header .header-cta .phone-number, .header .header-cta .phone-number a, .header .site-navigation .mobile-trigger, .content .panes a, a.accordion-trigger  { 
	color: #FFF; }

/* Type
================================================== */

.header .header-cta .phone-number { 
	font-size: 0.9375em;
	line-height: 1.1em; }

.footer .meta, .flex-caption p {
	font-size: 0.813em; }

.pagination {
	font-size: 0.875em; }

.header .site-navigation, .header .site-search input, .content h4, .aside .clinic-search h2, .womens-stories .content h2, .contact-us h2,
.jobs h2, .jobs .content h3, .resources .content h2, .media-and-events .content h2, .flexslider h2, .content.what-happens h3, .health-workers .content h2 { 
	font-size: 1em; }

.panes a.accordion-trigger, .faq h3, .the-facts h3, .health-workers .content h3, .jobs h2, .jobs-detail h2 { 
	font-size: 1.175em; }

.media-and-events-where-are-they .content .location-statistics li p span, span.anchor h2 { 
	font-size: 1.3em; }

.header .header-cta  { 
	font-size: 1.33333em; }

h1, .flex-caption h1 { 
	font-size: 1.5em; }

h1 {
	line-height: 1em; }

.media-and-events-where-are-they .content .location-statistics li p, span.anchor h2 { 
	line-height: 1.4em; }

.header .header-cta, .home .find-out-how p { 
	text-align: center; }

/* Sitewide
================================================== */

.header .inner, .main .inner, .slideshow .inner, .footer .inner { 
	max-width: 480px;
	margin: 0 auto;
	display: block;
	padding: 0; }

.col { 
	float: none;
	margin: 0; }

.mobile-inner { 
	padding: 0 20px;
	overflow: hidden; }

.col.extra-margin { 
	margin-left: 0 !important; }

.home .home-story .col.col_2 { 
	width: 130px !important;
	float: left !important;
	margin-left: 20px; }

/* Header
================================================== */

	.header, .header .inner { 
		padding: 0; }

	.header .site-search, .header .site-navigation, .header .logo { 
		float: left;
		clear: both; }
	
	.header .site-search { 
		display: block;
		width: 100%; }
	
	.header .site-search a { 
		display: none; }

	.header .site-search input[type=text] { 
		width: 75%;
		padding: 15px 5%; }

	.header .site-search input[type=submit] { 
		width: 15%;
		padding: 15px 0;
		height: 50px; }

	.header .logo { 
		 width: 50%; }

	.header .logo a { 
		background: url('../images/BSWA-sprite.png') no-repeat -10px -150px;
		width: 102px;
		height: 89px;
		margin: 10px auto; }

	.header-cta { 
		margin-left: 0;
		width: 50% }

	.header .header-cta .button, .header .header-cta .phone-number { 
		float: left;
		clear: both;
		padding: 17px 0;
		width: 100%;
		margin: 0; }

	.header .header-cta .button { 
		-webkit-border-radius: 0;
		border-radius: 0; }

	.header .header-cta .phone-number { 
		background: #51C5E1;
		display: block; }

	.header .site-navigation .mobile-trigger {
		background: #6A5A51 url('../images/arrow-sprite.png') no-repeat 85% 20px;
		display: block;
		width: 100%;
		cursor: pointer; }

	.header .site-navigation .mobile-trigger.sub-nav-trigger {
		background: #FFF url('../images/arrow-sprite.png') no-repeat 85% -210px;
		display: block;
		width: 100%;
		cursor: pointer; }

	.header .site-navigation .mobile-trigger.active { 
		background: #FC009A url('../images/arrow-sprite.png') no-repeat 85% -35px; }

	.header .site-navigation { 
		width: 100%;
		background: #FFF;
		margin: 0; }

	.header .site-navigation a, .header .site-navigation .mobile-trigger { 
		padding: 15px 6%; }

	.header .site-navigation ul.nav li, .header .site-navigation ul.sub-nav li { 
		float: none;
		display: block;
		margin: 0; }

	.header .site-navigation ul li a { 
		width: 100%;
		max-width: 480px;
		display: block;
		border-bottom: 1px solid #6A5A51; }

	/* Content 
	================================================== */

	p.disclaimer { 
		background: #FFF;
		width: 100%;
		padding: 0;
		margin: 0 0 .5em 0;
		float: left; }

	.alignleft, .alignright { 
		float: none;
		margin: 1em 0; }

	.box.purple h6 { 
		background: none;
		padding: 0;
		margin: 0 0 0 20px;
		height: auto; }

	.aside .block { 
		padding: 0;
		margin: 1.3em 20px;
		clear: both; }

	.video-listing .col { 
		padding-bottom: 15px; }

	.home .find-out-how ol li span.details { 
		display: block; }

	.home .where-are-they { 
		margin: 0;
		padding-bottom: 20px; }

	.clinic-search fieldset input[type="text"] { 
		width: 130px; }

	.clinic-search fieldset select { 
		width: 140px; }

	.playing .video-listing .col.active h3 { 
		background: #E5F2F6 url('../images/BSWA-sprite.png') no-repeat 165px -695px;
		padding-right: 120px; }

	.content-nav { 
		margin: 0;
		width: 100%; }

	.content ul li, .panes ul li {
		background-position: -8px -1643px; }

	.content .panes ol {
		padding: 0 0 0 40px; }

	.panes { 
		border-bottom: 0 none;
		margin: 0;
		display: block;
		padding: 0; }
	
	a.accordion-trigger { 
		border-top: 1px solid #FFF;
		border-bottom: 1px solid #FFF;
		background: #675c53;
		color: #675C53;
		padding: 15px 20px; }

	.panes a.accordion-trigger.selected { 
		background: #E5F2F6 url('../images/arrow-sprite.png') no-repeat 94% -275px;
		border-top: 1px solid #E5F2F6;
		border-bottom: 1px solid #E5F2F6;
		color: #E0119D; }

	.panes a.accordion-trigger {
		background: url('../images/arrow-sprite.png') no-repeat 94% -149px, url('../images/header-bg.gif') repeat; }

		/* Home 
		================================================== */

		.flex-caption { 
			padding: 0 20px; }

		ul.slides { 
			padding: 0;
			margin: 0; }

		ol.flex-control-paging { 
			margin: 10px auto 30px 130px;
			float: none;
			display: block; }

		.flex-pauseplay { 
			display: none; }

		.home .where-are-they .row { 
			padding: 0; }

		.home .home-story img { 
			margin-top: 20px; }

		.home .counter-container, .home .bus-image { 
			padding: 0 38px; }

		.counter span.count span { 
			padding: 10px 15px; }

		.counter.three span.count span { 
			padding: 10px 22px; }

		.home .counter-container:first-child > p {
			background: url('../images/horizontal-dot.gif') repeat-x bottom left;
			padding-bottom: 20px; }

		.home .counter-container:nth-child(2n) {
			background: url('../images/horizontal-dot.gif') repeat-x bottom left;
			padding-bottom: 10px;
			margin-bottom: 15px; }

		/* Slideshow
		================================================== */

		.slideshow { 
			background: url('../images/header-bg.gif') repeat; }

		.flex-direction-nav { 
			display: none; }

		/* Women's Stories
		================================================== */

		.video-listing .col a span { 
			background: url('../images/BSWA-sprite.png') no-repeat -83px -781px;
			width: 50px;
			height: 50px;
			margin: -25px 0 0 -25px;
			top: 20%; }

		.playing .video-listing .col { 
			opacity: 1;
			filter: alpha(opacity=100); }

		/* The Facts
		================================================== */

		.content-nav div { 
			margin: 1em 0; }

		.content-nav div ul { 
			width: auto;
			float: none;
			margin: 0; }

		.content-nav div ul li { 
			width: auto; }

		/* FAQ
		================================================== */

		.faq h1 { 
			margin: 0 20px; }

		/* Health Workers
		================================================== */

		.health-workers .col .col.col_2 { 
			margin: 30px 0 30px 0; }

		.health-workers .accordion-trigger { 
			padding: 0 0 0 25px; }

		.download img { 
			display: none; }

		.health-workers .feedback-form { 
			margin-bottom: -30px; }

		.health-workers .feedback-form .box.blue input, .health-workers .feedback-form .box.blue select, .health-workers .feedback-form .box.blue textarea { 
			width: 100%; }

		.health-workers .feedback-form .box.blue input[type="text"], .health-workers .feedback-form .box.blue textarea { 
			width: 95.5%;
			padding: 5px; }

		/* Clinic Search
		================================================== */

		.clinic-search-results h3.accordion-trigger { 
			background: #FFF url('../images/arrow-sprite.png') no-repeat 94% -106px;
			text-transform: capitalize;
			cursor: pointer;
			padding-bottom: 5px; }

		.clinic-search-results .accordion-trigger.selected { 
			background: #FFF url('../images/arrow-sprite.png') no-repeat 94% -165px;
			display: block; }

		.clinic-search-results .accordion span { 
			padding: 10px 0; }

		.clinic-search-results .address-details { 
			margin-bottom: 10px; }

		.clinic-search-results .button { 
			padding: 8px 15px; }

		/* Media / Events
		================================================== */

		.media-and-events-listing .col { 
			padding-bottom: 8px; }

		.media-and-events .content blockquote { 
			margin: 1em 0;
			float: none;
			padding: 20px;
			width: auto;
			background: #fff8fc; }

		/* Media & Events - Where are they?
		================================================== */

		.media-and-events-where-are-they .content .location-statistics li .women { 
			display: none; }

		.media-and-events-where-are-they .content .location-statistics li p { 
			height: auto; }

		.media-and-events-where-are-they .content .upcoming-schedule { 
			margin-bottom: 30px; }

		.media-and-events-where-are-they .content .upcoming-schedule span {
			max-width: 150px; }

		.media-and-events-where-are-they .content .location-statistics li p { 
			width: 100%; }

		.media-and-events-where-are-they .content .location-statistics li p span { 
			display: inline-block;
			width: 45%; }

		/* Jobs
		================================================== */
		
		.jobs-detail .content h2 span { 
			margin-right: 10px; }

		/* Contact Form
		================================================== */

		.contact-us .col { 
			margin-left: 0 !important; }

		.contact-us .box.blue { 
			padding: 20px; }

		.contact-us .box.blue input[type=text], .contact-us .box.blue textarea { 
			width: 96%; }

		.contact-us .box.blue textarea { 
			height: 116px; }

		.contact-us .box.blue input[type=submit] { 
			float: none;
			margin-top: 1em;
			width: 100% }

		/* Login
		================================================== */
	
		.login .box.blue { 
			padding: 20px 20px 0;
			margin: 30px 0; }

		.login .box.blue .col { 
			float: left;
			width: 50%; }

		.login .aside { 
			display: none; }

		/* Resources
		================================================== */
	
		.resources .content ul { 
			margin-bottom: 30px; }

	/* Footer 
	================================================== */

	.footer { 
		padding: 0; }

	.footer .meta-links, .footer .meta { 
		float: left;
		width: 100%;
		margin-bottom: 1em; }

	.footer .meta ul, .footer .meta p { 
		width: 290px; }

	.facebook { 
		float: right;
		margin: -37px 0 0 0; }

	.footer .meta-links ul#translations { 
		width: 100%; }

	.footer .meta-links ul#translations { 
		background: #675C53;
		-webkit-border-radius: 0;
		border-radius: 0;
		margin: 0;
		padding: 5px 0; }

	.footer .meta-links ul#translations li a { 
		padding: 10px 5% 10px 45px;
		width: 88%;
		display: block; }

	.footer .meta-links ul li a { 
		background: none; }

}

/* FlexSlider Necessary Styles
*********************************/ 

.flexslider, .flexslider .slides {
	margin: 0;
	padding: 0; }

.flexslider .slides > li { 
	display: none;
	-webkit-backface-visibility: hidden;
	list-style: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img { 
	width: 100%;
	display: block; }
	
.flex-pauseplay span {
	text-transform: capitalize; }

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0; }

html[xmlns] .slides {
	display: block; }

* html .slides {
	height: 1%; }

/* Target Firefox
*********************************/ 

@-moz-document url-prefix() {

    .header .site-navigation ul.nav li { 
		margin-right: 25px; }

}

/* Target Internet Explorer
================================================== */

@media \0screen\,screen\9 {
	
	.header .site-search input[type=text] {
		padding: 8px 5px 2px 5px; }

	*:first-child+html .content ol {
		padding: 0 0 0 25px; }
	
	*:first-child+html span.anchor { 
		padding-bottom: 15px; }

	*:first-child+html .clinic-search fieldset input[type=submit] { 
		margin: 0 0 0 0;
		padding: 4px 30px; }

	*:first-child+html .contact-us .box.blue textarea { 
		margin-left: -30px;
		height: 156px; }

	*:first-child+html .active-video { 
		display: none; }

}

.header .site-navigation ul.nav li {
	margin-right: 25px\0/; }

/* Target Touch Devices
================================================== */

.touch li.print-page { 
	display: none; }
	
/* No Javascript fallback
================================================== */

.no-js .slides > li:first-child { 
	display: block; }