*.suo
*.swp
*.bak
*.user
obj/
[bB]in/
*.vbw
*.CNT
out.txt
.*.swp
*.exp
*.lib
*.pdb
TestResults

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
# NUNIT
*.VisualState.xml
TestResult.xml

# Microsoft Fakes
*/*/FakesAssemblies/*
FakesAssemblies/
#Tests.Toms.Net.Common/Tests.Toms.Net.Common.Business/FakesAssemblies/*
*.DotfuscatorMap.xml
Toms.Net.sln.GhostDoc.xml

# Visual Studio 2017 cache/options directory
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

#Rider IDE
.idea
*.iml
