<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/css/seechange-bootstrap.css" />
    <include path="~/css/normalise.css" />
    <include path="~/css/screen.css" />
    <include path="~/css/screen_wa.css" />
    <include path="~/css/custom-1.2.css" />
    <include path="~/css/colorbox.css" />
    <include path="~/css/jquery-ui.css" />
    <include path="~/css/jquery-ui.structure.css" />
    <include path="~/css/jquery-ui.theme.css" />
    <include path="~/css/jquery-ui-timepicker-addon.css" />
  </styleBundle>
</bundles>